*
!/.gitignore
!/_retail_/
!/_retail_/WTF/
!/_retail_/Interface/
!/_retail_/Fonts/
!/_classic_/
!/_classic_/WTF/
!/_classic_/Interface/
!/_classic_/Fonts/
!/_retail_/WTF/**
!/_retail_/Interface/**
!/_retail_/Fonts/**
!/_classic_/WTF/**
!/_classic_/Interface/**
!/_classic_/Fonts/**
!/README.MD
**/tts-cache-character.txt
**/tts-cache-account.txt
**/tts-cache-account.old
**/macros-cache.txt
**/macros-cache.old
**/flagged-cache-character.txt
**/flagged-cache-account.txt
**/edit-mode-cache-character.txt
**/edit-mode-cache-account.txt
**/Config.wtf
**/config-cache.wtf
**/config-cache.old
**/click-bindings-cache.txt
**/Blizzard_Console.lua.bak
**/Blizzard_Console.lua
**/bindings-cache.wtf
**/bindings-cache.old
**/Addons.txt
**/*.old
**/*.bak
**/*.md5

